<h1 class="home-header">What's new today?</h1>

<div data-controller="news subscribe">
  <div class="news-container" data-news-target="newsContainer" data-id=<%= @article.id %>>
    <h2 class="article-title" data-news-target="articleTitle"><%= @article.title %></h2>
    <span class="news-date" data-date="" data-news-target="articleDate"><%= published_date(@article) %></span>
    <div data-news-target="articleBody"><%= @article.short_body.html_safe %></div>

    <div class="message-container inactive" data-news-target="allRead">
      <h3>Well done 👏</h3>
      <p>You've caught up on all of our most recent news!</p>
      <p>
        Do you have ideas to improve this app? Or do you want to help out with some items on our roadmap?
      </p>
      <%= link_to 'https://github.com/benj-p/random-news' do %>
        <span class="left-icon-text no-underline"><i class="fa-brands fa-github"></i>Github repo</span>
      <% end %>
      </p>
    </div>

    <div class="message-container inactive" data-news-target="loader">
      <div class="loader-dots">
        <div class="spinner-grow text-warning" role="status"></div>
        <div class="spinner-grow text-warning" role="status"></div>
        <div class="spinner-grow text-warning" role="status"></div>
      </div>
      <span>Looking for the best articles out there!</span>
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="news-buttons">
    <%= link_to @article.url, class: 'button-primary', target: '_blank', data: {news_target: 'readMoreButton'} do %>
      <%= image_tag 'icons/view_more.png' %>
      Read more
    <% end %>
    <%= link_to '', class: 'button-primary', target: '_blank', data: {news_target: 'refreshButton', action: 'click->news#refresh'} do %>
      <%= image_tag 'icons/shuffle.png' %>
      Anything else?
    <% end %>
    <div id="subscribe-form-container" class="button-primary flex-column" data-news-target="subscribeButton">
      <a class="no-underline" data-bs-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <i class="fa-solid fa-envelope fa-lg"></i>
        Subscribe for more
      </a>
      <div id="collapseExample" class="collapse mt-3" style="width: 100%;">
        <%= simple_form_for @newsletter_subscription, url: newsletter_subscriptions_path do |f| %>
          <%= f.input :email, label: false, placeholder: "Your email address" %>
          <div id="subscription-errors" class="mb-3"></div>
          <%= f.button :submit, class: "button-orange", value: "Subscribe !" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%# <input type="email" name="email" placeholder="Your email address">
<input type="submit" value="Subscribe !" class="button-orange"> %>